* {
    margin: 0;
}

.header {
    background-color: #444444;
    width: 100vw;
    height: 15vh;
    display: block;
}

.sidebar-left {
    background-color: #CCCCCC;
    width: 15vw;
    height: 85vh;
    float: left;
}

.sidebar-right {
    background-color: #CCCCCC;
    width: 15vw;
    height: 85vh;
    float: right;
}

.footer {
    background-color: #000000;
    height: 10vh;
    
}